
<div class="signupPage">
    <style>
      .stacked > label{ display:block; } .stacked > input{ display:block; }
    </style>
    <h1 class="signupForm">Signup here</h1>

    <form method="post" action="/signup" class="signupForm">
      <div class="stacked">
        <label for="">Name:</label>
        <input type="text" name="name" />
      </div>
      <div class="stacked">
        <label for="">Username:</label>
        <input type="text" name="username" />
      </div>

      <div class="stacked">
        <label for="">Password:</label>
        <input type="password" name="password" />
      </div>
      <div class="stacked">
        <label for="">Alias:</label>
        <input type="text" name="alias" />
      </div>
      <div class="stacked">
        <label for="">Team Name:</label>
        <input type="text" name="teamName" />
      </div>
      <div class="stacked">
        <label for="">Team Role:</label>
        <input type="text" name="teamRole" />
      </div>

      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>

</div>