
<div class="mainChatContainer">
     <section id="leftContainer">
        <div class="topPart"></div>
        <h1>Onlyteams</h1>
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section>

<div class="chatLeftContainer">


<div class="eachMessage">

    <p class="first">Julian</p>
</div>
  <div class="eachMessage">

    <p>Suzy</p>
</div>
  <div class="eachMessage">

    <p>Ivar</p>
</div>
  <div class="eachMessage">

    <p>Suzy</p>
</div>
  <div class="eachMessage">

    <p>Suzy</p>
</div>
  <div class="eachMessage">

    <p>Suzy</p>
</div>



</div>
<form id="chat-form">
<div class="chatRightContainer">

<div class="chatMessages">
<p>Message here</p>
</div>

<div style="display:flex;">
<input type="text" placeholder="Message..." class="messageInput"/>
<button>Send</button>
</div>




</div>
</form>
</div>