
    <section>
      <div class="product">
        <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
         
                 {{unit_amount_decimal}}
          <h3>Stubborn Attachments</h3>
           <form action="/create-checkout-session" method="POST">
               <select name="option" >

          {{#each prices}}
         
                <option  value={{id}}>
                
              
                   {{unit_amount_decimal}}
                     
              
                    </option>>
                  
              

        


          {{/each}}
          </select>
       
  
        </div>
      </div>
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
    </section>
