
    <section>
      <div class="product">
        <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1131123/1026-Esport-Luke_Social-112f956e1fad345ee753201fc103cd74-cf71732f6864bfe4c8add274d92a4928.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
         
                 {{unit_amount_decimal}}
          <h3 >Thank you for donating</h3>
           <form action="/create-checkout-session" method="POST">
               <select name="option" >

          {{#each prices}}
         
                <option  value={{id}}>
                
              
                   {{unit_amount_decimal}}
                     
              
                    </option>>
                  
              

        


          {{/each}}
          </select>
       
  
        </div>
        <button type="submit" id="checkout-button">Checkout</button>
      </form>
      </div>
    </section>
