

    <div class="mainCreateTeamDiv">

      <form action="/createteam" method="POST" class="createTeamFormContainer">
        <div class="createTeamContainer">

          <label for="">Team Name:</label>
          <input type="text" name="teamName" />
          <label for="">Tag:</label>
          <input type="text" name="tag" />
          <label for="">Join Password:</label>
          <input type="text" name="joinPassword" />
          <input type="text" name="location" />
          <input type="text" name="division" />

          <button type="submit">
            Create A Team
          </button>

        </div>

      </form>
    </div>

