
      <h1 class="teamh1">Create your Team:</h1>

    <div class="mainCreateTeamDiv">

      <form action="/createteam" method="POST" class="createTeamFormContainer">

        <div class="createTeamContainer">
          <label for="">Team Name:</label>
          <input type="text" name="teamName" />
          <label for="">Tag:</label>
          <input type="text" name="tag" />
          <label for="">Join Password:</label>
          <input type="text" name="joinPassword" />
            <label for="">Location:</label>
          <input type="text" name="location" />
            <label for="">Division:</label>
            <select  id="teamDivision" name="division" >
              <option name=''>Select a division</option>
            <option  name={{division}}>Pro</option>
            <option name={{division}}>Premier</option>
            <option  name={{division}}></option>


            </select>
          {{!-- <input type="text" name="division" /> --}}

          <button type="submit">
            Create A Team
          </button>

        </div>

      </form>
    </div>

