<div style="display:flex;">
 <section id="leftContainer">
        <div class="topPart"></div>
        <h1>Onlyteams</h1>
        <a href="/">Find Teams</a>
        <a href="/feed">Feed</a>
        <a href="/chat">Messages</a>
        <a href="/createteam">Create A Team</a>
        <a href="/memories">Post A Memory</a>

      </section>

<div class="feedContainer">
{{#each images}}
  <img src="{{image}}" alt="" class="feedImages" />
{{/each}}
</div>
</div>