<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finale</title>
         <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
      integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    /><link rel="stylesheet" href="/styles/styles.css" />
         <script
      src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"
    ></script>
            <script src="https://checkout.stripe.com/checkout.js" defer></script>


</head>
<body>
  <div class="auth">
    <div>
    <h1>Title</h1>
    </div>
  <nav class="layoutNav">
<a href="/">Main</a>
  <a href="/signup">Signup</a>

<a href="/login">Login</a>
</nav>
 <form id="logout-form" action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>

    {{{body}}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vanilla-tilt.js"></script>
        <script src="../js/index.js"></script>
                <script src="../js/chat.js"></script>

</body>
</html>