

   {{!-- <div class="teamPage"> --}}
<h2 class="teamtitle">Vikings</h2>
      <div class="container">



   

    {{#each team}}

        <div class="card data" data-tilt>

            <img src="images/vikingsmainlogo.png" alt="" class="vikinglogo">
<a href="/chat/{{_id}}">{{this.username}}</a>           
 <p>Viking</p>
            <a href="https://play.esea.net/users/412720">ESEA profile</a>
        </div>
        



    {{/each}}

        </div>
        <form action="/create-checkout-session">
        <div class="donateContainer">

         


            </form>
      
     
        {{!-- </div> --}}
       