body {
  height: 100vh;

  background-image: url(/images/vikings2022.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body h2 {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-right: 15px;
  height: 300px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  height: 50px;
  border-radius: 20%;
  margin-top: 10px;
}
.card h2 {
  font-weight: bold;
}
.card a {
  transition: background 0.5s;
  color: transparent;
  color: gray;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 5px;
  padding: 5px;
}

.card a:hover {
  color: white;
}

.teamImgMemories {
  border: 1px dashed black;
  width: 300px;
  height: 300px;
}

.donateContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.mainCreateTeamDiv {
  display: flex;

  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.createTeamContainer {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  color: white;
}
.createTeamContainer input {
  margin-bottom: 20px;
}
.createTeamFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  width: 500px;
  max-width: 500px;
  height: 500px;
}
#leftContainer {
  display: flex;
  flex-direction: column;

  width: 300px;
  max-width: 300px;
  border: 3px solid black;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  font-weight: 600px;
}
#leftContainer a {
  margin-top: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 7px;
}
.topPart {
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}
#middleContainer {
  border: 3px solid black;
  max-width: 600px;
  width: 600px;
  text-align: center;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
}
.homePage {
  color: white;
  display: flex;
  height: 90vh;

  justify-content: center;
}
.teamsHere {
  display: flex;
  flex-direction: column;
}
.eachTeam {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eachTeam a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

#rightContainer {
  display: flex;

  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow-y: scroll;
  position: relative;
}
.feedImages {
  height: 150px;
  width: 150px;
}
.mostRecent {
  text-align: center;
}
