body {
  height: 100vh;

  background-image: url(/images/vikings2022.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body h2 {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}
.auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.auth a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-right: 15px;
  height: 300px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  height: 50px;
  border-radius: 20%;
  margin-top: 10px;
}
.card h2 {
  font-weight: bold;
}
.card a {
  transition: background 0.5s;
  color: transparent;
  color: gray;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 5px;
  padding: 5px;
}

.card a:hover {
  color: white;
}

.teamImgMemories {
  border: 1px dashed black;
  width: 300px;
  height: 300px;
}

.donateContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.mainCreateTeamDiv {
  display: flex;

  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.createTeamContainer {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  color: white;
}
.createTeamContainer input {
  margin-bottom: 20px;
}
.createTeamFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
  width: 500px;
  max-width: 500px;
  height: 500px;
}
#leftContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 300px;
  max-width: 300px;
  border: 3px solid black;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  font-weight: 600px;
}
#leftContainer a {
  margin-top: 5px;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 7px;
}
.topPart {
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}
#middleContainer {
  border: 3px solid black;
  max-width: 600px;
  width: 600px;
  text-align: center;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  color: black;
  font-weight: bold;
}
.homePage {
  color: white;
  display: flex;
  height: 90vh;

  justify-content: center;
}
.teamsHere {
  display: flex;
  flex-direction: column;
}
.eachTeam {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eachTeam a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

#rightContainer {
  display: flex;

  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow-y: scroll;
  position: relative;
}
#rightContainer a {
  color: white;
  text-decoration: none;
}
.feedContainer {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  height: 90%;
  /* justify-content: center; */
}
.feedImages {
  border-radius: 5px;
  height: 200px;
  width: 200px;
}
.mostRecent {
  text-align: center;
}

.mainChatContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.chatLeftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
  border: 3px solid black;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  font-weight: 600px;
  height: 100%;
}
.eachMessage {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: gray;
  height: 50px;
  border-bottom: 1px solid black;
}
.eachMessage a {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
.usersInRoom {
  flex: 49%;
}
.usersInRoom p {
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  color: white;
  border: 1px solid black;
  background-color: black;
  height: 50px;
  width: 50px;
}
#chat-form {
  width: 90vw;
}

.chatRightContainer {
  display: flex;
  height: 100vh;

  justify-content: space-between;
  max-width: 100%;
  text-align: right;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow-y: scroll;
}
.chatMessages {
  flex: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  /* display: flex;
  flex-direction: column; */
}
.chatMessages p {
  margin-right: 15px;
  /* width: 300px; */
  height: 100px;
  max-width: 300px;
  word-wrap: break-word;
  color: white;
  border-radius: 6px;
  border: 1px solid black;
  background-color: black;
}
.chatRightContainer input {
  height: 40px;
  width: 100%;
}
.individualTeam {
  display: flex;
  justify-content: space-around;
}

.fa-solid {
  margin-right: 10px;
}
.leftSideMessages {
  position: absolute;
  left: 0;
}
.sendMessage {
  display: flex;
  width: 100%;
  align-self: flex-end;
}
.feedDiv {
  height: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.loginTitle {
  display: flex;
  justify-content: center;
  color: white;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  height: 300px;
}
.loginForm input {
  width: 100%;
  margin-top: 10px;
}
.loginForm button {
  margin-top: 10px;

  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.signupForm input {
  margin-top: 10px;
}
.signupForm button {
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  height: 30px;
}
