body {
  background-image: url(/images/vikings2022.jpeg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body h2 {
  position: absolute;
  text-align: center;
  top: 50px;
  color: white;
}
.auth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.auth a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin-right: 15px;
  height: 300px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.card img {
  height: 50px;
  border-radius: 20%;
  margin-top: 10px;
}
.card h2 {
  font-weight: bold;
}
.card a {
  transition: background 0.5s;
  color: transparent;
  color: gray;
  text-decoration: none;
  border: 1px dashed white;
  border-radius: 5px;
  padding: 5px;
}

.card a:hover {
  color: white;
}

.teamImgMemories {
  border: 1.5px dashed white;
  width: 300px;
  height: 300px;
  text-align: center;
}

.donateContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.mainCreateTeamDiv {
  display: flex;

  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.createTeamContainer {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  color: white;
}
.createTeamContainer input {
  margin-bottom: 20px;
}
.createTeamFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px dashed white;
  width: 500px;
  max-width: 500px;
  height: 500px;
}
#leftContainer {
  display: flex;
  flex-direction: column;

  width: 30%;

  border: 3px solid black;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  border: 1.5px dashed white;
  border-radius: 7px;
  font-weight: 600px;
}
#leftContainer a {
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 7px;
}
.topPart {
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
}

.topPart p {
  margin-left: 20px;
  font-size: 14px;
}

#middleContainer {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 50%;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
#middleContainer h1 {
  text-align: center;
}
.team {
  width: 20%;
  margin: 0 auto;
}
.homePage {
  color: white;
  display: flex;
  height: 100%;

  justify-content: center;
}
.teamsHere {
  display: flex;
  flex-direction: column;
}
.eachTeam {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.eachTeam a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

#rightContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 300px;
  text-align: center;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  overflow-y: scroll;
  /* position: relative; */
}
#rightContainer a {
  color: white;
  text-decoration: none;
}
.feedDiv {
  /* justify-content: space-around; */
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  /* height: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3); */
}
.feedContainer {
  /* display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 80vh; */
  /* display: flex;
  justify-content: center; */
  /* justify-content: center; */
  width: 50%;
  height: 100%;
}
.feedImages {
  border-radius: 5px;
  height: 20%;
  width: 30%;
  margin: 0.7%;
  border: 1.5px dashed white;
}
.mostRecent {
  text-align: center;
}

.mainChatContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}
.chatLeftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 300px;
  border: 3px solid black;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  font-weight: 600px;
  height: 100%;
}
.eachMessage {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: gray; */
  height: 50px;
  border: 1px dashed white;
  border-radius: 7px;
}
.eachMessage a {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}
/* .usersInRoom {
  flex: 49%;
} */
.usersInRoom p {
  margin-left: 20px;
  text-align: center;
  border-radius: 6px;
  color: white;
  border: 1px solid black;
  background-color: black;
  height: 50px;
  width: 50px;
}
/* #chat-form {
  width: 90vw;
  height: 80vh;
  overflow-y: scroll;
} */
.mainRightSide {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}
.chatRightContainer {
  display: flex;
  height: 60vh;
  width: 50vw;
  justify-content: space-between;
  max-width: 100%;
  text-align: right;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  position: relative;
  overflow: scroll;
}
.chatMessages {
  /* flex: 49%; */
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
}
.newMessage {
  /* margin-right: 15px; */
  /* width: 300px; */
  margin-bottom: 10px;

  width: 500px;
  word-wrap: break-word;
  color: white;
  border-radius: 6px;
  border: 1px dashed white;
  background-color: black;
}
.newMessage p {
  margin-right: 30px;
}
.chatRightContainer input {
  height: 20px;
  width: 80%;
}
.individualTeam {
  display: flex;
  justify-content: space-around;
}

.fa-solid {
  margin-right: 10px;
}
.leftSideMessages {
  position: absolute;
  left: 0;
}
.sendMessage {
  display: flex;
  width: 100%;
  position: absolute;
  /* right: 0; */
  /* right: 70px; */
  /* margin-top: 40px;
  margin-left: 100px; */
  bottom: 0;
}
.sendMessage input {
  display: flex;
  /* position: absolute; */
  width: 91%;
  align-self: flex-end;
  /* position: absolute;
  right: 60px; */
}
/* .sendMessage button {
  position: absolute;
} */
.loginTitle {
  display: flex;
  justify-content: center;
  color: white;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
  height: 300px;
}
.loginForm input {
  width: 100%;
  margin-top: 10px;
}
.loginForm button {
  margin-top: 10px;

  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.signupForm h1 {
  display: flex;
  justify-content: center;
  color: white;
}
.signupForm input {
  margin-top: 10px;
}
.signupForm button {
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  height: 30px;
}

.memoryDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100vh;
}
.layoutNav {
  display: flex;
  align-items: center;
}
.layoutNav a {
  margin: 25px;
}
#logout-form button {
  background: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.teamh1 {
  color: white;
  width: 100%;
  text-align: center;
}
.profileContainer {
  height: 100vh;
}
